/* препратките [редактиране] при разделите */
.editsection {
	font-size: small;
	font-style: italic;
	font-family: Serif;
}

table { background-color: inherit; }
.allpagesredirect, .wp-admin .mw-redirect {
	font-style: italic;
}

/* Горен/долен индекс със запазване на височината на реда */
sub {vertical-align: baseline; font-size: 0.8em; position: relative; top: 0.4em }
sup {vertical-align: baseline; font-size: 0.8em; position: relative; top: -0.4em }

/* Текста под кутията за редактиране */
#editpage-copywarn {
	margin: .8em 0;
	padding: 0.2em;
	border-bottm: thick solid gold;
	font-style: italic;
	text-align: center;
}

/* бутона „Предварителен преглед“ */
#wpPreview { font-weight: bold; }

.code { font-family: monospace; }

/* подравняване на текста в таблицата нагоре */
table.nagore tbody { vertical-align:top; }

#siteNotice { padding: 0.3em; text-align: center; margin-bottom: 0.5em; }

/* клас за текста, отбелязващ нова страница в последните промени [[МедияУики:Newpageletter]] */
.newpage { color: black; background-color: yellow; }

/* клас за препратки, които не се виждат като подчертани */
.noulinks a, .nounderlines a { text-decoration: none; }

/* клас за текста, отбелязващ малките промени [[МедияУики:Minoreditletter]] */
span.minor { font-weight: normal; }

/* клас за изпъкване */
.hilite {
	color: black;
	background-color: #fff6e6;
	padding: 0.2em 0.5em;
	border: thin dotted silver;
}

/* клас за архивна страница */
.archive {
	opacity:0.7;
	background-color: #fffaf0;
	padding: 0.2em 0.5em;
	border: thin dotted silver;
}

/* стилове за съдържанието от началната страница - [[Шаблон:Съдържание]] */
#mainpage-toc h3 {
	font-size: 110%;
	margin-bottom: 0;
}
#mainpage-toc p {
	margin-top: 0;
	margin-bottom: 0;
}

.buttonlinks a {
	color: black;
	background-color: #ccddee;
	background-image: url('http://upload.wikimedia.org/wikipedia/commons/c/c6/Blending_blue_button_background.png');
	background-repeat: repeat-x;
	font-weight: bold;
	font-size: 0.9em;
	text-decoration: none;
	border: thin #006699 outset;
	padding: 0.1em;
}
.buttonlinks a:hover, .buttonlinks a:active {
	background-color: #bbccdd;
	border-style: inset;
}

#navbox ul li {
	list-style: none;
	margin-left: -1em;
}
#navtree ul {
	border-left: thin dotted gray;
	padding-left: .5em;
}

#stubmessage {
	font-style: italic;
	text-align: center;
	padding: 5px;
	width: 75%;
	margin: 1em auto;
}

/* центриране на описанията на миникартинките и при галериите */
div.thumb div div.thumbcaption, div.gallerytext { text-align: center; }

table.toccolours caption { font-weight: bold; }
table.toccolours tr.hrow th { background-color: #e0e6e9; }
tr.odd { background-color: inherit; }
tr.even { background-color: #eceff3; }

.portal-box {
	border: thin dotted #003366;
	padding: 0.5em;
	margin-bottom: 0.5em;
}
.portal-box h2 {
	color: white;
	background-color: #005588;
	border: 0;
	padding: 0.3em 0.5em 0.2em 1em;
	font-size: 1.2em;
}
.portal-box .editsection, .portal-box .editsection a {
	color: white;
}

.template-wrapper {
	background: #fcfcec;
	padding: .5em;
	border: thin dashed gray;
}

/* [[МедияУики:Monobook.js|поздравително съобщение]] за всеки невлязъл потребител */
#externMessage {
	text-align: center;
	color: black;
	background-color: #FFEE99;
	border: thin solid #FFA500;
	padding: .4em;
	margin-top: .2em;
}

#loadIndicator {
	position: absolute;
	top: 6em;
	left: 20%;
	float: left;
	color: black;
	background-color: #CCDDEE;
	font-size: 2em;
	padding: 0.5em;
	border: solid thin #006699;
}
/* elements which are doing something... */
.loading {
	background: white url(/skins-1.5/common/images/spinner.gif) right center no-repeat;
}
/* A working element has done its job */
.done:before {
	content: url(http://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Yes_check.svg/16px-Yes_check.svg.png);
}
/* A working element that hadn’t been so lucky */
.not-done:before {
	content: url(http://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Red_x.svg/16px-Red_x.svg.png);
}

/* Standard Navigationsleisten, aka box hiding thingy from .de.*/
div.Boxmerge, div.NavFrame {
	margin: 0;
	padding: 0.2ex;
	border: thin solid #aaaaaa;
	text-align: center;
	border-collapse: collapse;
	font-size: 95%;
}
div.Boxmerge div.NavFrame { border-style: none; border-style: hidden; }
div.NavFrame + div.NavFrame { border-top-style: none; border-top-style: hidden; }
div.NavPic {
	background-color: #ffffff;
	margin: 0;
	padding: 0.2ex;
	float: left;
}
div.NavFrame div.NavHead {
	height: 1.6em;
	font-weight: bold;
	font-size: 100%;
	background-color: #efefef;
	position:relative;
}
div.NavFrame p, div.NavContent, div.NavContent p { font-size: 100%; }
div.NavEnd {
	margin: 0;
	padding: 0;
	line-height: 0.1em;
	clear: both;
}
a.NavToggle {
	position:absolute;
	top:0;
	right:0.2em;
	font-weight:normal;
	font-size:smaller;
}

.plainlinksneverexpand { background: none ! important; padding: 0 ! important; }
.plainlinksneverexpand .urlexpansion { display: none ! important; }
.plainlinksneverexpand a { background: none !important; padding: 0 !important; }
.plainlinksneverexpand a.external.text:after { display: none !important; }
.plainlinksneverexpand a.external.autonumber:after { display: none !important; }

.prettytable, .prettytable table {
	border: thin solid #aaa;
	border-collapse: collapse;
	font-size: 95%;
	margin: 1em 0;
	background: #f9f9f9;
}
.prettytable table { margin: 0; }
.prettytable td, table.prettytable th { border: thin solid #aaa; padding: 0.3em; }
.prettytable th { background-color: #ddd; }

.IPA {
	font-family: Chrysanthi Unicode, Doulos SIL, Gentium, GentiumAlt, Code2000, TITUS Cyberbit Basic, DejaVu Sans, Bitstream Vera Sans, Bitstream Cyberbit, Arial Unicode MS, Lucida Sans Unicode, Hiragino Kaku Gothic Pro, Matrix Unicode;
	font-family /**/:inherit;
}
.Unicode {
	font-family: TITUS Cyberbit Basic, Code2000, Doulos SIL, Chrysanthi Unicode, Bitstream Cyberbit, Bitstream CyberBase, Bitstream Vera, Thryomanes, Gentium, GentiumAlt, Visual Geez Unicode, Lucida Grande, Arial Unicode MS, Microsoft Sans Serif, Lucida Sans Unicode;
	font-family /**/:inherit;
}
.polytonic {
	font-family: Athena, Gentium, Palatino Linotype, Arial Unicode MS, Lucida Sans Unicode, Lucida Grande, Code2000;
	font-family /**/:inherit;
}

/*</pre>*/

/* Messagebox templates */
.messagebox {
	border: 1px solid #aaaaaa;
	background-color: #f9f9f9;
	width: 80%;
	margin: 0 auto 1em auto;
	padding: .2em .5em;
}
.messagebox.merge {
	border: 1px solid #c0b8cc;
	background-color: #f0e5ff;
	text-align: center;
}
.messagebox.cleanup {
	border: 1px solid #9f9fff;
	background-color: #efefff;
	text-align: center;
}
.messagebox.standard-talk {
	border: 1px solid #c0c090;
	background-color: #f8eaba;
}

/* Infobox template style */
.infobox {
	border: 1px solid #aaaaaa;
	background-color: #f9f9f9;
	color: black;
	margin-bottom: 0.5em;
	margin-left: 1em;
	padding: 0.2em;
	float: right;
	clear: right;
}
.infobox td,
.infobox th {
	vertical-align: top;
}
.infobox caption {
	font-size: larger;
	margin-left: inherit;
}
.infobox.bordered {
	border-collapse: collapse;
}
.infobox.bordered td,
.infobox.bordered th {
	border: 1px solid #aaaaaa;
}
.infobox.bordered .borderless td,
.infobox.bordered .borderless th {
	border: 0;
}

.infobox.sisterproject {
	width: 20em;
	font-size: 90%;
}

/* styles for bordered infobox with merged rows */
.infobox.bordered .mergedtoprow td,
.infobox.bordered .mergedtoprow th {
	border: 0;
	border-top: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
}

.infobox.bordered .mergedrow td,
.infobox.bordered .mergedrow th {
	border: 0;
	border-right: 1px solid #aaaaaa;
}


/* styles for geography infoboxes, e.g. countries, national subdivisions, cities, etc. */
.infobox.geography {
	border: 1px solid #ccd2d9;
	text-align: left;
	border-collapse: collapse;
	line-height: 1.2em;
	font-size: 90%;
}

.infobox.geography td,
.infobox.geography th {
	border-top: solid 1px #ccd2d9;
	padding: 0.4em 0.2em 0.4em 0.8em;
}
.infobox.geography .mergedtoprow td,
.infobox.geography .mergedtoprow th {
	border-top: solid 1px #ccd2d9;
	padding: 0.4em 0.2em 0.2em 0.8em;
}

.infobox.geography .mergedrow td,
.infobox.geography .mergedrow th {
	border: 0;
	padding: 0 0.2em 0.2em 0.8em;
}

.infobox.geography .mergedbottomrow td,
.infobox.geography .mergedbottomrow th {
	border-top: 0;
	border-bottom: solid 1px #ccd2d9;
	padding: 0 0.2em 0.4em 0.8em;
}

.infobox.geography .maptable td,
.infobox.geography .maptable th {
	border: 0;
	padding: 0 0 0 0;
}

/* wikitable/prettytable class for skinning normal tables */
table.wikitable, table.prettytable {
	margin: 1em 1em 1em 0;
	background: #f9f9f9;
	border: 1px #aaaaaa solid;
	border-collapse: collapse;
}

table.wikitable th, table.wikitable td,
table.prettytable th, table.prettytable td {
	border: 1px #aaaaaa solid;
	padding: 0.2em;
}

table.wikitable th, table.prettytable th {
	background: #f2f2f2;
	text-align: center;
}

table.wikitable caption, table.prettytable caption {
	margin-left: inherit;
	margin-right: inherit;
	font-weight: bold;
}

table.wikitable table th, table.prettytable table th,
table.wikitable table td, table.prettytable table td {
	border: none;
}

/* стилове за шаблоните за координати */

#coordinates {
	position:absolute;
	z-index:1;
	border:none;
	background:none;
	right:30px;
	top:4.8em;
	float:right;
	line-height:1.5em;
	text-align:right;
	text-indent:0;
	font-size:85%;
	white-space:nowrap;
}

#coordinates, .coordinates {
	text-transform:none;
	margin:0;
	padding:0;
}

.geo-google {
	font-family:serif;
	font-weight:bold;
	line-height:1em;
}

.geo-geo-dec .geo-dec, .geo-geo-dms .geo-dms {display:inline}
.geo-geo-dec .geo-dms, .geo-geo-dms .geo-dec, .geo-multi-punct {display:none}
.geo-lat, .geo-lon {white-space:nowrap}


.references { font-size: 85%;}

/* VALIDATOR NOTICE: the following is correct, but the W3C validator doesn't accept it */
/* -moz-* is a vendor-specific extension (CSS 2.1 4.1.2.1) */
/* column-count is from the CSS3 module "CSS Multi-column Layout" */
/* Please ignore any validator errors caused by these two lines */
.references-2column {
	-moz-column-count:2;
	column-count:2;
}

.same-bg { background: none }

/* Highlight clicked reference in blue to help navigation */
ol.references > li:target {
	background-color: #DEF;
}

sup.reference:target, cite:target {
	background-color: #DEF;
}

/* Style for "notices" */
.notice {
	margin: 1em;
	padding: 0.2em;
}

#disambig {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#spoiler {
	border-top: 2px solid #ddd;
	border-bottom:2px solid #ddd;
}

/* Coloured watchlist numbers */
.mw-plusminus-pos {
	color: #006400; /* darkgreen */
}
/* .mw-plusminus-null currently at developer default */
.mw-plusminus-neg {
	color: #8B0000; /* darkred */
}

/* Article message box template styles */
table.ambox {
	margin: 0 10%;                    /* Will not overlap with other elements */
	border-collapse: collapse;
	background: #fbfbfb;
	border: 1px solid #aaa;
	border-left: 10px solid #1e90ff;  /* Default "notice" blue */
}
/* The message body cell(s) */
table.ambox th.ambox-text, table.ambox td.ambox-text {
	padding: 0.25em 0.5em;            /* 0.5em left/right */
	width: 100%;                      /* Make all templates the same width regardless of text size */
}
table.ambox td.ambox-image {          /* The left image cell */
	padding: 2px 0px 2px 0.5em;       /* 0.5em left, 0px right */
	text-align: center;
}
table.ambox td.ambox-imageright {     /* The right image cell */
	padding: 2px 4px 2px 0px;         /* 0px left, 4px right */
	text-align: center;
}
table.ambox-notice {
	border-left: 10px solid #1e90ff;     /* Blue */
/* border-right: 10px solid #1e90ff; */  /* If you want two blue bars */
}
table.ambox-delete,
table.ambox-serious {
	border-left: 10px solid #b22222;     /* Red */
}
table.ambox-content {
	border-left: 10px solid #f28500;     /* Orange */
}
table.ambox-style {
	border-left: 10px solid #f4c430;     /* Yellow */
}
table.ambox-merge {
	border-left: 10px solid #9932cc;     /* Purple */
}
table.ambox-protection {
	border-left: 10px solid #bba;        /* Gray */
}
table.ambox.ambox-mini {                 /* small floating box variant */
	float: right;
	clear: right;
	margin: 0 0 0 1em;
	width: 25%;
}

/* псевдозаглавия за хронологични подстраници */
.h1-transclusion {
	padding-top: .5em;
	padding-bottom: .17em;
	border-bottom: 1px solid #aaa;
}
.h1-transclusion { font-size: 170%; }
.h1-transclusion .editsection { font-size: 53%; }

li.FA {
	list-style-image: url("http://upload.wikimedia.org/wikipedia/en/d/d4/Monobook-bullet-star.png");
}

div.hilited, span.hilited {
	color: white;
	background-color: #000080;
}


/* Prevents line breaks in links; see docs at Template:Nowraplinks */
.nowraplinks a {
	white-space: nowrap;
}

/* съобщения за блокиране на беседи */
div.user-block {
	padding: 5px;
	border: 1px solid #A9A9A9;
	background-color: #FFEFD5;
}

/* Страница с документация на шаблон */
.template-documentation {
	clear: both;
	margin: 1em 0 0 0;
	border: 1px solid #aaa;
	background-color: #eaf1f4;
	padding: 5px;
}

/* прости списъчета, чиито елементи е добре да се показват един до друг с разделител */
.simplelist ul, .simplelist li { margin: 0; padding: 0; }
.simplelist li { display: inline; white-space: nowrap; }
.simplelist li:after { content: "\00A0\2022 "; /* circle */ }
.simplelist li:last-child:after { content: ""; }

.yaw {
	border: 1px solid #A3B1BF;
	padding: 1em 1em .2em 1em;
	border-top: none;
	background-color: #fff;
	color: #000;
}
/* кутии с връзки в доста страници от ИП Уикипедия */
div.user-wpnav {
	border: 1px solid #A3B1BF;
	margin-bottom: 1em;
	padding: .5em .5em 0em .5em;
	background-color: #F8FCFF;
	color: #000;
	text-align: center;
	min-height: 2em;
}
/* за редове, които не трябва да се пренасят */
.oneline { white-space: nowrap; }
/*
	These mbox-small classes must be placed after all other
	ambox/tmbox/ombox etc classes. "body.mediawiki" is so
	they override "table.ambox + table.ambox" above.
*/
body.mediawiki table.mbox-small {   /* For the "small=yes" option. */
	clear: right;
	float: right;
	margin: 4px 0 4px 1em;
	width: 238px;
	font-size: 88%;
	line-height: 1.25em;
}
body.mediawiki table.mbox-small-left {   /* For the "small=left" option. */
	margin: 4px 1em 4px 0;
	width: 238px;
	border-collapse: collapse;
	font-size: 88%;
	line-height: 1.25em;
}


/* Default skin for navigation boxes */
table.navbox {            /* Navbox container style */
	border: 1px solid #aaa;
	width: 100%;
	margin: auto;
	clear: both;
	font-size: 88%;
	text-align: center;
	padding: 1px;
}
table.navbox + table.navbox {  /* Single pixel border between adjacent navboxes */
	margin-top: -1px;            /* (doesn't work for IE6, but that's okay)       */
}
.navbox-title,
.navbox-abovebelow,
table.navbox th {
	text-align: center;      /* Title and above/below styles */
	padding-left: 0.45em;
	padding-right: 0.15em;
}
.navbox-group {            /* Group style */
	white-space: nowrap;
	text-align: right;
	font-weight: bold;
	padding-left: 1em;
	padding-right: 1em;
}
.navbox, .navbox-subgroup {
	background: #fdfdfd;     /* Background color */
}
.navbox-list {
	border-color: #fdfdfd;   /* Must match background color */
}
.navbox-title,
table.navbox th {
	background: #ccccff;     /* Level 1 color */
}
.navbox-abovebelow,
.navbox-group,
.navbox-subgroup .navbox-title {
	background: #ddddff;     /* Level 2 color */
}
.navbox-subgroup .navbox-group, .navbox-subgroup .navbox-abovebelow {
	background: #e6e6ff;     /* Level 3 color */
}
.navbox-even {
	background: #f7f7f7;     /* Even row striping */
}
.navbox-odd {
	background: transparent; /* Odd row striping */
}

/*
	'show'/'hide' buttons created dynamically by the CollapsibleTables
	javascript in [[MediaWiki:Common.js]]
*/
.collapseButton {
	float: right;
	font-weight: normal;
	text-align: right;
	width: auto;
}
/*
	In navboxes, the show/hide button balances the vde links
	from [[Template:Tnavbar]], so they need to be the same width.
*/
.navbox .collapseButton {
	width: 6em;
}