/* 

'''Common CSS for all skins''' 
__СЪДЪРЖАНИЕ__ 
*/


/*

== Plainlinks ==
Add formatting to make sure that "external references" from [[Template:Ref]] do not get URL expansion, not even when printed. The mechanism up to MediaWiki 1.4 was that the HTML code contained a SPAN following the anchor A; this SPAN had the class "urlexpansion", which was not displayed on screen, but was shown when the medium was "print". The rules below ensure (a) that there is no extra padding to the right of the anchor (displayed as "[<number>]"), (b) that there is no "external link arrow" for
the link, and (c) that this SPAN of class "urlexpansion" is never shown.

<pre>*/

.plainlinksneverexpand {
  background: none ! important;
  padding: 0 ! important;
}

.plainlinksneverexpand .urlexpansion {
  display: none ! important;
}
/* </pre> */

/* 

Make sure that ext links displayed within "plainlinksneverexpand" don't get the arrow...
<pre>*/
.plainlinksneverexpand a {
   background: none !important;
   padding: 0 !important;
}
/* </pre> */

/* 

With MediaWiki 1.5, the mechanism has changed: instead of a SPAN of class "urlexpansion" following the anchor A, the anchor itself now has class "external autonumber" and the expansion is inserted when printing (see the common printing style sheet at http://en.wikipedia.org/skins-1.5/common/commonPrint.css) using the ":after" pseudo-element of CSS. We have to switch this off for links due to Template:Ref!
<pre>*/

.plainlinksneverexpand a.external.text:after {
  display: none !important;
}
.plainlinksneverexpand a.external.autonumber:after {
  display: none !important;
}
/* </pre> 

== Prettytable ==

<pre>*/
.prettytable, .prettytable table
{
    border: 1px solid #aaa;
    border-collapse: collapse;
    font-size: 95%;
    margin: 1em 0;
    background: #f9f9f9;
}

.prettytable table
{
    margin: 0;
}

.prettytable td, table.prettytable th
{
    border: 1px solid #aaa;
    padding: 4px;
}

.prettytable th
{
    background-color: #ddd;
}

/*</pre>

/* 
== Специални шрифтове ==

Support for Template:IPA, Template:Unicode and Template:Polytonic. The inherit declaration resets the font for all browsers except MSIE6.  The empty comment must remain. 

<pre>*/

.IPA {
        font-family: Chrysanthi Unicode, Doulos SIL, Gentium, GentiumAlt, Code2000, TITUS Cyberbit Basic, DejaVu Sans, Bitstream Vera Sans, Bitstream Cyberbit, Arial Unicode MS, Lucida Sans Unicode, Hiragino Kaku Gothic Pro, Matrix Unicode;
        font-family /**/:inherit;
}
.Unicode {
        font-family: TITUS Cyberbit Basic, Code2000, Doulos SIL, Chrysanthi Unicode, Bitstream Cyberbit, Bitstream CyberBase, Bitstream Vera, Thryomanes, Gentium, GentiumAlt, Visual Geez Unicode, Lucida Grande, Arial Unicode MS, Microsoft Sans Serif, Lucida Sans Unicode;
        font-family /**/:inherit;
}
.polytonic {
        font-family: Athena, Gentium, Palatino Linotype, Arial Unicode MS, Lucida Sans Unicode, Lucida Grande, Code2000; 
        font-family /**/:inherit;
}

/*</pre>