 /* 
 В този файл можем да задаваме собствени настройки за облика 'Monobook', 
 които ще действат при всички потребители. 
 */

 #globalWrapper { 
   font-size: 130%;
 }

 table {
   background-color: inherit;
 }

 /* underline links */
 a {
   text-decoration: underline;
 }

 /* don't underline mouseover-links */
 a:hover {
   text-decoration: none;
 }

 /* показване на плъзгачи при необходимост */
 /*pre { overflow: auto; }*/

 /* бутоните за изпращане на формулярите */
 input[type=submit] {
   color: black;
   background-color: #e8e8e8;
   border: thin outset white;
   padding: 0 0.1ex;
 }
 input[type=submit]:hover {
   color: black;
   background-color: lightyellow;
 }
 /* бутона „Предварителен преглед“ */
 #wpPreview {
   font-weight: bold;
 }

 /* link in selected tab */
 #p-cactions ul li.selected a {
   /* font-weight: bold; */
 }

 .code {
   font-family: monospace;
 }

 /* подравняване на текста в таблицата нагоре */
 table.nagore tbody {
   vertical-align:top;
 }

 #siteNotice { padding: 0.3em; text-align: center; margin-bottom: 0.5em; }
 #siteNotice:after { 
 /* content: ' Българското време е напред, прибавете 3 часа.' */
 }

 /* показване на "от Уикипедия, свободната енциклопедия */
 #siteSub {
   display: inline;
   font-weight: normal;
   font-size: 0.95em; 
 }
 .ns-0 #siteSub:after {
   content: ' (можете да редактирате и подобрите тази статия веднага)';
 }

 /* етикетът "Редактиране" */
 #ca-edit a { 
   font-weight: bold !important; 
 }

 /* клас за текста, отбелязващ нова страница в последните промени [[МедияУики:Newpageletter]] */
 .newpage {
   color: black;
   background-color: yellow;
 }

 /* клас за текста, отбелязващ малките промени [[МедияУики:Minoreditletter]] */
 span.minor {
   font-weight: normal;
 }

 /* клас за изпъкване */
 .hilite {
   color: inherit;
   background-color: #fff6e6;
   padding: 0.2em 0.5em;
   border: thin dotted silver;
 }

 /* стилове за съдържанието от началната страница - [[Шаблон:Съдържание]] */
 #mainpage-toc h3 {
   font-size: 110%;
   margin-bottom: 0;
 }
 #mainpage-toc p {
   margin-top: 0;
   margin-bottom: 0;
 }

 #my-buttons {
   padding: 0.5em;
 }
 #my-buttons a {
   color: black;
   background-color: #ccddee;
   font-weight: bold;
   font-size: 0.9em;
   text-decoration: none;
   border: thin #006699 outset;
   padding: 0 0.1em 0.1em 0.1em;
 }
 #my-buttons a:hover, #my-buttons a:active {
   background-color: #bbccdd;
   border-style: inset;
 }

 #navbox ul li {
   list-style: none;
   margin-left: -1em;
 }
 #navtree ul {
   border-left: thin dotted gray;
   padding-left: .5em;
 }

 #stubmessage {
   font-style: italic;
   text-align: center;
   padding: 5px;
   width: 75%;
   margin: 1em auto;
   clear: both;
 }

 /* центриране на описанията на миникартинките */
 div.thumb div div.thumbcaption {
    text-align: center;
 }

 table.toccolours caption {
   font-weight: bold;
 }
 table.toccolours tr.hrow th {
   background-color: #e0e6e9;
 }
 tr.odd {
  background-color: inherit;
 }
 tr.even {
  background-color: #eceff3;
 }

 .pBody {
    padding: 0.3em 0.1em;
    -moz-border-radius-topright: .5em;
 }
 .portlet h5 {
    background-color: #e0e3e6;
    border: thin solid silver;
    -moz-border-radius-topleft: .5em;
    -moz-border-radius-topright: .5em;
 }

 .portal-box {
   border: thin dotted #003366;
   padding: 0.5em;
   margin-bottom: 0.5em;
 }
 .portal-box h2 {
   color: white;
   background-color: #005588;
   border: 0;
   padding: 0.3em 0.5em 0.2em 1em;
   font-size: 1.2em;
 }
 .portal-box .editsection, .portal-box .editsection a {
   color: white;
 }

 .template-wrapper {
   background: #fcfcec;
   padding: .5em;
   border: thin dashed gray;
 }

 /* [[МедияУики:Monobook.js|поздравително съобщение]] за всеки невлязъл потребител */
 #externMessage {
   text-align: center;
   color: black;
   background-color: #FFEE99;
   border: thin solid #FFA500;
   padding: .4em;
   margin-top: .2em;
 }