#globalWrapper { 
  font-size: 130%;
}

/* link in selected tab */
#p-cactions ul li.selected a {
  font-weight: bold;
}

/* images */
div.floatright {
  /* махане на бялата рамка */
  border-color: transparent;
}