#globalWrapper { font-size: 130%; }

a { text-decoration: underline; }
a:hover { text-decoration: none; }
.portlet a { text-decoration: none; }
.portlet a:hover { text-decoration: underline; }

input[type=submit] {
	color: black;
	background-color: #e8e8e8;
	border: thin outset white;
	padding: 0 0.1ex;
}
input[type=submit]:hover {
	color: black;
	background-color: lightyellow;
}

#siteSub { display: inline; font-weight: normal; font-size: 0.95em; }
.ns-0 #siteSub:after {
	content: ' (можете да редактирате и подобрите тази статия веднага)';
	font-style: italic;
}

/* етикетът „Редактиране“, съобщението „Влизане“ за невлязъл потребител */
#ca-edit a, #pt-login a { 
	font-weight: bold !important;
}

.pBody {
	 padding: 0.3em 0.1em;
	 -moz-border-radius-topright: .5em;
}
.portlet h5 {
	 background-color: #e0e3e6;
	 border: thin solid silver;
	 -moz-border-radius-topleft: .5em;
	 -moz-border-radius-topright: .5em;
}