/* foreign featured articles marker */
#mw-panel div.portal div.body ul li.FA {
	background: url("http://upload.wikimedia.org/wikipedia/commons/d/d4/Monobook-bullet-star.png") no-repeat scroll 0 20% transparent;
	margin-left: -11px;
	padding-left: 11px;
}
#mw-panel div.portal div.body ul li.GA {
	background: url("http://upload.wikimedia.org/wikipedia/commons/4/42/Monobook-bullet-ga.png") no-repeat scroll 0 20% transparent;
	margin-left: -11px;
	padding-left: 11px;
}

/* Fix the position of {{Coor title d}} and similar geo templates. */
#coordinates { top: -4em }
 
/* Fix the position of the featured (FA) and good (GA) articles' icon.
   Note: !important _is_ important! ;) */
div.topicon {
    margin-right: 0 !important;
    right: -0.5em !important;
    top: -2em !important;
}
 
/* Display the "from Wikipedia" note beneath each article's title... */
#siteSub {
    display: inherit;
    font-style: italic;
}

/* ... but still have it hidden on the Main Page. */
.page-Начална_страница #firstHeading, .page-Начална_страница #siteSub { display: none }